* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    background-color: #aa8d84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.page-marker {
    border: 4px solid #8c8883;
    border-radius: 12px;
    width: 75%;
    height: 95%;
    margin-bottom: 10px;
    /* min-width: 75vw;
    min-height: 97vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #362b26;
}

h1 {
    margin-top: 20px;
    color: #d3d3d3;
    font-size: 48px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-container {
    min-height: 15vh;
    min-width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#input-title {
    min-height: 8vh;
    min-width: 25vw;
    border-radius: 12px;
    background-color: #22190d;
    border: 3px solid #8c8883;
    color: #d3d3d3;
    padding: 15px;
    font-size: 20px;
}
#input-title::placeholder {
    padding: 15px;
    font-size: 18px;
    color: #5a483d;
}
#input-title:hover {
    background-color: #22190d73;
}

#btn-add {
    min-width: 4vw;
    min-height: 8vh;
    border-radius: 12px;
    font-size: 42px;
    font-weight: bold;
    color: #aa8d84;
    background-color: #22190d;
    border: 3px solid #8c8883;
}
#btn-add:hover {
    transform: scale(.95);
    background-color: #22190d73;
    cursor: pointer;
}

.book-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #8c8883;
    border-radius: 12px;
    width: 90%;
    height: 95%;
    margin-bottom: 40px;
    background-color: #22190d;
    gap: 2px;
    overflow-y: auto;
    padding-right: 10px;
}

.book-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 25%;
    padding: 8px;
    gap: 8px;
}

.book {
    background-color: #917569;
    font-size: 28px;
    font-weight: bold;
    color: #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border: 3px solid #8c8883;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
.book:hover {
    background-color: #a38579;
}

.page-input {
    background-color: #22190d;
    color: #d3d3d3;
    border: 3px solid #8c8883;
    border-radius: 12px;
    width: 25%;
    height: 100%;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}
.page-input:hover {
    background-color: #3b2b17;
}

.btn-url {
    background-color: #22190d;
    color: #d3d3d3;
    border: 3px solid #8c8883;
    border-radius: 20px;
    width: 10%;
    height: 100%;
}
.btn-url:hover {
    background-color: #3426145e;
    cursor: pointer;
    transform: scale(.9);
}
.img-url {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.btn-delete {
    background-color: #22190d;
    color: #d3d3d3;
    border: 3px solid #8c8883;
    border-radius: 20px;
    width: 10%;
    height: 100%;
}
.btn-delete:hover {
    background-color: #3426145e;
    cursor: pointer;
    transform: scale(.9);
}
.img-delete {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.url-input {
    background-color: #22190d;
    color: #d3d3d3;
    border: 3px solid #8c8883;
    border-radius: 12px;
    width: 60%;
    height: 100%;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}